<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Google it</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        {% block content %}
        <form action="/search_with_google" method="post" class="form">
            <input type="text" placeholder="Search term!" name="search_term" value="{{search_term}}" class="search-input">
            <button type="submit" name="create" class="search-btn">Search</button>
        </form>
        <ul>
            {% for link in links %}
            <li><a href="{{ link }}">{{ link }}</a></li>
            {% endfor %}
        </ul>
        {% endblock %}
    </body>
</html>